@charset "UTF-8";


body{
    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: crimson;
    font-size: 1.5em;
    background-color: lightsteelblue;
}
h2{
    color: lightskyblue;
    font-size: 1.2em;
}
p{
    text-align: justify;
}