@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(to bottom, #34BA70, #175131);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 9px 6px 6px #63aa82;
    width: 600px;
    padding: 10px;
    margin: auto;
}

footer {
    background-color: #1A5C38;
}

.ctr {
    text-align: center;
    color: white;
}

aside {
    background-color: #C5EBD6;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px;
}

nav > a:hover {
    text-decoration: underline;
}

.idroid {
    color: #175131;
    font-family: idroid, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #c5ebd6cb, #eef0ef56 );
}
